.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-overlay {
  0% {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
  }
  99% {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    z-index: -1;
    background-color: transparent;
  }
}
#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loading-overlay 3s forwards;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  /* Pages Menu*/
}
html h1, html h2, html span, body h1, body h2, body span {
  font-family: "Shrikhand", sans-serif;
}
html p, body p {
  font-family: "Roboto", sans-serif;
  margin: unset;
}
html a, body a {
  text-decoration: none;
}
html button, body button {
  height: 50px;
  background: linear-gradient(350deg, #9356dc 50%, #ff79da 100%);
  border-radius: 30px;
  cursor: pointer;
  border: none;
  padding: 0 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.4s;
  color: #fff;
  font-size: large;
  font-weight: 700;
  transition: all 750ms;
  transform: scale(1);
}
html button a, body button a {
  color: white;
}
html button:hover, body button:hover {
  background: linear-gradient(350deg, #a978e3 50%, #ffa2e5 100%);
  transform: scale(1.15);
  box-shadow: 0px 0px 33px 15px rgba(0, 0, 0, 0.3);
}
html header, body header {
  display: flex;
  flex-direction: column;
  align-items: initial;
  margin-bottom: 50px;
}
html header #logo-wrapper, body header #logo-wrapper {
  display: flex;
  padding: 15px;
  justify-content: center;
}
html header #logo-wrapper #arrow-accueil, body header #logo-wrapper #arrow-accueil {
  display: none;
}
html header #logo-wrapper img, body header #logo-wrapper img {
  height: 35px;
  width: 55%;
}
html header #logo-wrapper i, body header #logo-wrapper i {
  color: black;
  right: 45px;
  top: 5px;
  position: relative;
  font-size: x-large;
}
html header #hl-margintop, body header #hl-margintop {
  height: 4px;
  background-color: rgb(211, 211, 211);
}
html header #header-location, body header #header-location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  background-color: rgb(234, 234, 234);
}
html header #header-location i, body header #header-location i {
  margin-right: 15px;
  cursor: pointer;
}
html header #header-location p, body header #header-location p {
  font-weight: 500;
}
html header #header-explorer, body header #header-explorer {
  background-color: rgb(246, 246, 246);
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 45px 15px;
  text-align: center;
}
html header #header-explorer > p:first-child, body header #header-explorer > p:first-child {
  font-size: x-large;
  font-weight: 800;
}
html header #header-explorer > p:nth-child(2), body header #header-explorer > p:nth-child(2) {
  font-size: larger;
}
html #main-index > p, body #main-index > p {
  font-size: xx-large;
  font-weight: 900;
  margin: 0 0 30px 15px;
}
html #main-index #main-process, body #main-index #main-process {
  margin-bottom: 50px;
}
html #main-index .main-list, body #main-index .main-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: auto;
  margin-bottom: 25px;
  height: 60px;
  background-color: rgb(246, 246, 246);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  position: relative;
  cursor: pointer;
}
html #main-index .main-list .main-numbers, body #main-index .main-list .main-numbers {
  color: white;
  width: 15px;
  height: 15px;
  text-align: center;
  background-color: #9356DC;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  left: -15px;
}
html #main-index .main-list i, body #main-index .main-list i {
  color: #7e7e7e;
}
html #main-index .main-list p, body #main-index .main-list p {
  font-size: larger;
  font-weight: 600;
  padding-right: 30px;
}
html #main-index .main-list:hover, body #main-index .main-list:hover {
  background-color: #f2eafb;
}
html #main-index .main-list:hover span i, body #main-index .main-list:hover span i {
  color: #9356DC;
}
html #main-index #main-menu, body #main-index #main-menu {
  width: 100%;
  height: auto;
  background-color: rgb(246, 246, 246);
  padding-bottom: 50px;
}
html #main-index #main-menu > p, body #main-index #main-menu > p {
  font-size: xx-large;
  font-weight: 900;
  margin: 0 0 30px 15px;
}
html #main-index #main-menu > p, body #main-index #main-menu > p {
  padding-top: 50px;
  margin-bottom: 25px;
}
html #main-index #main-menu .menu-cards, body #main-index #main-menu .menu-cards {
  padding: 10px 10px 0 10px;
}
html #main-index #main-menu .menu-cards .card-image, body #main-index #main-menu .menu-cards .card-image {
  width: 100%;
  height: 200px;
  position: relative;
}
html #main-index #main-menu .menu-cards .card-image img, body #main-index #main-menu .menu-cards .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
html #main-index #main-menu .menu-cards .card-image > p, body #main-index #main-menu .menu-cards .card-image > p {
  position: absolute;
  margin-top: 3%;
  margin-right: 3%;
  right: 0;
  top: 0;
  justify-self: center;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  background-color: #99E2D0;
  color: rgb(24, 149, 118);
  font-weight: 600;
  height: 30px;
  width: 90px;
}
html #main-index #main-menu .menu-cards .card-text, body #main-index #main-menu .menu-cards .card-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px 0 0 20px;
  background-color: white;
  border-radius: 0 0 20px 20px;
  width: auto;
  height: 70px;
}
html #main-index #main-menu .menu-cards .card-text div > p:first-child, body #main-index #main-menu .menu-cards .card-text div > p:first-child {
  font-size: x-large;
  font-weight: 600;
}
html #main-index #main-menu .menu-cards .card-text div > p:nth-child(2), body #main-index #main-menu .menu-cards .card-text div > p:nth-child(2) {
  font-size: larger;
}
html #main-index #main-menu .menu-cards .card-text i, body #main-index #main-menu .menu-cards .card-text i {
  font-size: xx-large;
}
html #main-index #main-menu .menu-cards .card-text .card-heart, body #main-index #main-menu .menu-cards .card-text .card-heart {
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 50px;
}
html #main-index #main-menu .menu-cards .card-text .card-heart:hover i:last-child, body #main-index #main-menu .menu-cards .card-text .card-heart:hover i:last-child {
  transform: scale(0);
}
html #main-index #main-menu .menu-cards .card-text .card-heart:hover i:first-child, body #main-index #main-menu .menu-cards .card-text .card-heart:hover i:first-child {
  transform: scale(1);
}
html #main-index #main-menu .menu-cards .card-text .card-heart .fas, body #main-index #main-menu .menu-cards .card-text .card-heart .fas {
  position: absolute;
  transform: scale(0);
  transition: transform 1s;
  background-image: linear-gradient(180deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
html #main-index #main-menu .menu-cards .card-text .card-heart .far, body #main-index #main-menu .menu-cards .card-text .card-heart .far {
  position: absolute;
  transform: scale(1);
  transition: transform 0.3s;
  -webkit-text-stroke: 1px white;
}
html header .menu-image, body header .menu-image {
  height: 250px;
  object-fit: cover;
  z-index: -2;
}
html .details-menu, body .details-menu {
  width: auto;
  height: auto;
  background-color: rgb(246, 246, 246);
  padding: 25px;
  margin-top: -100px;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
}
html .details-menu button, body .details-menu button {
  margin-top: 20px;
  align-self: center;
}
html .details-menu .menu-title, body .details-menu .menu-title {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  margin-bottom: 10px;
}
html .details-menu .card-heart, body .details-menu .card-heart {
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 50px;
}
html .details-menu .card-heart:hover i:last-child, body .details-menu .card-heart:hover i:last-child {
  transform: scale(0);
}
html .details-menu .card-heart:hover i:first-child, body .details-menu .card-heart:hover i:first-child {
  transform: scale(1);
}
html .details-menu .card-heart .fas, body .details-menu .card-heart .fas {
  position: absolute;
  transform: scale(0);
  transition: transform 1s;
  background-image: linear-gradient(180deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
html .details-menu .card-heart .far, body .details-menu .card-heart .far {
  position: absolute;
  transform: scale(1);
  transition: transform 0.3s;
  -webkit-text-stroke: 1px white;
}
@keyframes apparition {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html .details-menu .menu-entrees, body .details-menu .menu-entrees {
  animation: apparition 2000ms 1;
}
html .details-menu .menu-entrees .main-dishes, body .details-menu .menu-entrees .main-dishes {
  animation: apparition 2500ms 1;
}
html .details-menu .menu-plats, body .details-menu .menu-plats {
  animation: apparition 4000ms 1;
}
html .details-menu .menu-plats .main-dishes, body .details-menu .menu-plats .main-dishes {
  animation: apparition 4500ms 1;
}
html .details-menu .menu-desserts, body .details-menu .menu-desserts {
  animation: apparition 6000ms 1;
}
html .details-menu .menu-desserts .main-dishes, body .details-menu .menu-desserts .main-dishes {
  animation: apparition 6500ms 1;
}
html .details-menu .menu-underline, body .details-menu .menu-underline {
  display: inline-block;
  width: max-content;
  position: relative;
  margin-top: 30px;
  cursor: context-menu;
}
html .details-menu .menu-underline::before, body .details-menu .menu-underline::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  background-color: #99E2D0;
  transition: width 0.4s ease-in-out;
}
html .details-menu .menu-underline:hover::before, body .details-menu .menu-underline:hover::before {
  position: absolute;
  width: 100%;
}
html .details-menu .card-dishes, body .details-menu .card-dishes {
  position: relative;
  margin-top: 20px;
  width: auto;
  height: 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.4s;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  cursor: pointer;
  white-space: nowrap;
}
html .details-menu .card-dishes > p:first-child, html .details-menu .card-dishes > p:last-child, body .details-menu .card-dishes > p:first-child, body .details-menu .card-dishes > p:last-child {
  font-size: larger;
  font-weight: 600;
}
html .details-menu .card-dishes .dishes-details, body .details-menu .card-dishes .dishes-details {
  overflow-x: hidden;
  text-overflow: ellipsis;
  transition: width 0.5s;
}
html .details-menu .card-dishes:hover .dishes-price, body .details-menu .card-dishes:hover .dishes-price {
  left: 80%;
}
html .details-menu .card-dishes .dishes-details, body .details-menu .card-dishes .dishes-details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  transform: translate(0);
  transition: transform 0.5s;
}
html .details-menu .card-dishes .dishes-price, body .details-menu .card-dishes .dishes-price {
  position: absolute;
  left: 95%;
  font-weight: bold;
}
html .details-menu .card-dishes .dishes-check, body .details-menu .card-dishes .dishes-check {
  position: relative;
  left: 100%;
  bottom: 50%;
  background-color: #99E2D0;
  height: 100%;
  width: 80px;
}
html .details-menu .card-dishes i, body .details-menu .card-dishes i {
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  font-size: 23px;
  transform: translate(-50%, -50%);
}
html footer, body footer {
  padding: 25px;
  height: 150px;
  background-color: rgb(53, 53, 53);
  color: #f2f2f2;
}
html footer #footer-title, body footer #footer-title {
  font-style: italic;
}
html footer #footer-menu, body footer #footer-menu {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
html footer #footer-menu i, body footer #footer-menu i {
  display: block;
  width: 10px;
  margin-right: 15px;
}
html footer #footer-menu p, body footer #footer-menu p {
  margin-bottom: 10px;
}
html footer #footer-menu a, body footer #footer-menu a {
  color: white;
}
html footer #footer-menu #footer-restaurant, html footer #footer-menu #footer-partners, body footer #footer-menu #footer-restaurant, body footer #footer-menu #footer-partners {
  display: flex;
}

@media only screen and (min-width: 628px) {
  html header #logo-wrapper img, body header #logo-wrapper img {
    height: 100%;
    width: 40%;
  }
  html header #logo-wrapper i, body header #logo-wrapper i {
    right: 150px;
    top: 10px;
    position: relative;
    font-size: xxx-large;
  }
  html #main-index > p, html #main-menu > p, body #main-index > p, body #main-menu > p {
    display: flex;
    justify-content: center;
  }
  html #main-process, body #main-process {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 25%;
  }
  html #main-index #main-menu .menu-cards, body #main-index #main-menu .menu-cards {
    padding: 0 20%;
  }
  html footer, html #footer-menu, body footer, body #footer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media only screen and (max-width: 627px) {
  html #main-index .main-list, body #main-index .main-list {
    width: 80%;
    padding-right: unset;
    justify-content: space-around;
  }
  html #main-index .main-list p, body #main-index .main-list p {
    padding-right: unset;
  }
}
@media only screen and (max-width: 720px) {
  html #main-index .main-list .main-numbers, body #main-index .main-list .main-numbers {
    left: -20px;
  }
}
.menu-card__wrapper {
  display: flex;
  background-color: #fff;
  height: 5rem;
  margin: 1rem 0;
  border-radius: 0.75rem;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
}
.menu-card__wrapper__text-content {
  flex: 1;
  padding: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu-card__wrapper__text-content h4, .menu-card__wrapper__text-content p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-card__wrapper__text-content h4 {
  font-size: larger;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
.menu-card__wrapper__text-content p {
  padding-top: 10px;
}
.menu-card__wrapper__price {
  display: flex;
  align-items: flex-end;
  font-weight: 700;
  padding: 1rem;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
}
.menu-card__wrapper__checkbox-div {
  margin: -0.6rem -5rem 0 1rem;
  background-color: #99e2d0;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.menu-card__wrapper__checkbox-div__icon-wrapper {
  border-radius: 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.6rem;
  width: 1.6rem;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.menu-card__wrapper__checkbox-div__icon-wrapper__icon {
  color: #99e2d0;
  font-weight: 900;
}
.menu-card__wrapper:hover .menu-card__wrapper__checkbox-div {
  margin-right: 0rem;
}
.menu-card__wrapper:hover .menu-card__wrapper__checkbox-div__icon-wrapper {
  transform: rotate(0);
}

/*# sourceMappingURL=style.css.map */
