$primary_color : #9356DC;
$secondary_color : #FF79DA;
$tertiary_color : #99E2D0;

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

@keyframes loading-overlay {
    0% {
        z-index: 2;
        background-color: rgba(0,0,0,0.5);
    }
    99% {
        z-index: 2;
        background-color: rgba(0,0,0,0.5);
    }
    100% {
        z-index: -1;
        background-color: transparent;
    }
}

#overlay {
    position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loading-overlay 3s forwards;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;

    h1, h2, span{
        font-family: 'Shrikhand', sans-serif;
    }   
    p{
        font-family: 'Roboto', sans-serif;
        margin: unset;
    }
    a{
        text-decoration:none; 
    }
    button{
        height: 50px;
        background: linear-gradient(
        350deg,
        lighten($primary_color, 0%) 50%,
        lighten($secondary_color, 0%) 100%
        );
        border-radius: 30px;
        cursor: pointer;
        border: none;
        padding: 0 25px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.4s;
        color: #fff;
        font-size: large;
        font-weight: 700;
        transition: all 750ms;
        transform: scale(1);
        a{
            color: white;
        }
        &:hover{                    
            background: linear-gradient(
            350deg,
            lighten($primary_color, 8%) 50%,
            lighten($secondary_color, 8%) 100%
            );
            transform: scale(1.15);
            box-shadow: 0px 0px 33px 15px rgb(0,0,0,0.3);
        }
    }    

    header{
        display: flex;
        flex-direction: column;
        align-items: initial;
        margin-bottom: 50px;
        #logo-wrapper{
            display: flex;
            padding: 15px;
            justify-content: center;
            #arrow-accueil{
                display: none;
            }
            img{
                height: 35px;
                width: 55%;
            }
            i{
                color: black;
                right: 45px;
                top: 5px;
                position: relative;
                font-size: x-large;
            }
        }
        #hl-margintop{
            height: 4px;
            background-color: rgba(211,211,211,255);
        }
        #header-location{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 45px;
            background-color: rgba(234,234,234,255);
            i{
                margin-right: 15px;
                cursor: pointer;
            }
            p{
                font-weight: 500;
            }
        }
        #header-explorer{
            background-color: rgba(246,246,246,255);
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 45px 15px;
            text-align: center;
            & > p:first-child{
                font-size: x-large;
                font-weight: 800;
            }
            & > p:nth-child(2){
                font-size: larger;
            }
        }
    }
    #main-index{
        & >p{
            font-size: xx-large;
            font-weight: 900;
            margin: 0 0 30px 15px;
        }
        #main-process{
            margin-bottom: 50px;
        }
        .main-list{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            margin: auto;
            margin-bottom: 25px;
            height: 60px;
            background-color: rgba(246,246,246,255);
            border-radius: 20px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            position: relative;
            cursor: pointer;
            .main-numbers{
                color: white;
                width: 15px;
                height: 15px;
                text-align: center;
                background-color: #9356DC;
                padding: 10px;
                border-radius: 50%;
                position: absolute;
                left: -15px;
            }
            i{
                color: #7e7e7e;
            }
            p{
                font-size: larger;
                font-weight: 600;
                padding-right: 30px;
            }
            &:hover{
                span i{
                    color: #9356DC;
                }
                background-color: lighten($primary_color, 35%);
            }
        }
        #main-menu{
            width: 100%;
            height: auto;
            background-color: rgba(246,246,246,255);
            padding-bottom: 50px;
            & > p{
                font-size: xx-large;
                font-weight: 900;
                margin: 0 0 30px 15px;
            }
            & > p{
                padding-top: 50px;
                margin-bottom: 25px;
            }
            .menu-cards{
                padding: 10px 10px 0 10px ;
                .card-image{
                    width: 100%;
                    height: 200px;
                    position: relative;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 20px 20px 0 0;
                    }
                    & > p{
                        
                        position: absolute;
                        margin-top: 3%;
                        margin-right: 3%;
                        right: 0;
                        top: 0;
                        justify-self: center;
                        text-align: center;
                        display: inline-block;
                        vertical-align: middle;
                        line-height: 30px;
                        background-color: $tertiary_color;
                        color: rgba(24,149,118,255);
                        font-weight: 600;
                        height: 30px;
                        width: 90px;
                    }
                }
                .card-text{
                    display: flex;
                    flex-direction: row; 
                    justify-content: space-between;
                    margin-bottom: 20px;
                    padding: 20px 0 0 20px;
                    background-color: white;
                    border-radius: 0 0 20px 20px;
                    width: auto;
                    height: 70px;
                    div > p:first-child{
                        font-size: x-large;
                        font-weight: 600;
                    }
                    div > p:nth-child(2){
                        font-size: larger;
                    } 
                    i{
                        font-size: xx-large;
                    }
                    .card-heart{
                        cursor: pointer;
                        position: relative; 
                        width:50px; height: 50px;
                        &:hover i:last-child {
                            transform: scale(0);
                        }
                        &:hover i:first-child {
                            transform: scale(1);
                        }
                        .fas{
                            position: absolute; 
                            transform: scale(0);
                            transition: transform 1s;
                            background-image: linear-gradient(180deg, #9356DC, #FF79DA);
                            background-clip: text;
                            -webkit-background-clip: text;
                            color: transparent;
                            
                        }
                        .far{
                            position: absolute; 
                            transform: scale(1); 
                            transition: transform 0.3s;
                            -webkit-text-stroke: 1px white;
                        }
                    }
                }
            }
        }
    }

    /* Pages Menu*/

    header{
        .menu-image{
            height: 250px;
            object-fit: cover;
            z-index: -2;
            }
        }   
        .details-menu{
            width: auto;
            height: auto;
            background-color: rgba(246,246,246,255);
            padding: 25px;
            margin-top: -100px;
            border-radius: 30px 30px 0 0;
            display: flex;
            flex-direction: column;
            button{
                margin-top: 20px;
                align-self: center;
            }
            .menu-title{
                display: flex;
                justify-content: space-between;
                font-size: 30px;
                margin-bottom: 10px;
                }
                .card-heart{
                    cursor: pointer;
                    position: relative; 
                    width:50px; height: 50px;
                    &:hover i:last-child {
                        transform: scale(0);
                    }
                    &:hover i:first-child {
                        transform: scale(1);
                    }
                    .fas{
                        position: absolute; 
                        transform: scale(0);
                        transition: transform 1s;
                        background-image: linear-gradient(180deg, #9356DC, #FF79DA);
                        background-clip: text;
                        -webkit-background-clip: text;
                        color: transparent;
                        
                    }
                    .far{
                        position: absolute; 
                        transform: scale(1); 
                        transition: transform 0.3s;
                        -webkit-text-stroke: 1px white;
                    }
                }

            @keyframes apparition {
                0% {opacity:0;}
                50% {opacity:0;}
                100% {opacity:1;}
                }
                
            .menu-entrees {
                animation: apparition 2000ms 1;
                .main-dishes{
                    animation: apparition 2500ms 1;
                }
            }

            .menu-plats {
                animation: apparition 4000ms 1;
                .main-dishes{
                    animation: apparition 4500ms 1;
                }
            }

            .menu-desserts {
                animation: apparition 6000ms 1;
                .main-dishes{
                    animation: apparition 6500ms 1;
                    }
            }


            .menu-underline{
                display: inline-block;
                width: max-content;
                position: relative;
                margin-top: 30px;
                cursor: context-menu;
                &::before{
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 2px;
                    bottom: 0;
                    background-color: $tertiary_color;
                    transition: width 0.4s ease-in-out;
                }
                &:hover::before {
                    position: absolute;
                    width: 100%;
                }
            }
            .card-dishes{
                position: relative;
                margin-top: 20px;
                width: auto;
                height: 80px;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                transition: 0.4s;
                background-color: white;
                border-radius: 20px;
                padding: 15px;
                cursor: pointer;
                white-space: nowrap;
                & > p:first-child, & > p:last-child{
                    font-size: larger;
                    font-weight: 600;
                }

                & .dishes-details{
                    overflow-x: hidden;
                    text-overflow: ellipsis;
                    transition: width 0.5s;
                }
                
                &:hover {
                    .dishes-price{
                        left: 80%;
                    
                    }
                }
                .dishes-details {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 10px;
                    transform: translate(0);
                    transition: transform .5s;
                }
                .dishes-price {
                    position: absolute; 
                    left: 95%; 
                    font-weight: bold;
                }

                .dishes-check{
                    position: relative;
                    left: 100%;
                    bottom: 50%;
                    background-color: #99E2D0;
                    height: 100%;
                    width: 80px;
                }
                i{                                    
                    position: absolute;
                    color: white; 
                    left: 50%;
                    top: 50%;
                    font-size: 23px;
                    transform: translate(-50%,-50%);
                }
                
            }
        }

    footer{
        padding: 25px;
        height: 150px;
        background-color: rgba(53,53,53,255);
        color: #f2f2f2;
        
        #footer-title{
            font-style: italic;
        }
        #footer-menu{
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            i{
                display: block;
                width: 10px;
                margin-right: 15px;
            }
            p{
                margin-bottom: 10px;
            }
            a{
                color: white;
            }
            #footer-restaurant, #footer-partners{
                display: flex;
            }
        }
    }
}
@media only screen and (min-width: 628px) {
        
    html, body{
        header #logo-wrapper{
            img{
                height: 100%;
                width: 40%;
                
            }  
            i{
                right: 150px;
                top: 10px;
                position: relative;
                font-size: xxx-large;
            }
        }
        #main-index, #main-menu{
            & > p{
            display: flex;
            justify-content: center;}
        }
        #main-process{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 25%;
        }
        #main-index #main-menu .menu-cards{
            padding: 0 20%;
        }
        footer, #footer-menu{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    } 
}

@media only screen and (max-width: 627px) {
        
    html, body{
        #main-index .main-list{
            width: 80%;
            padding-right: unset;
            justify-content: space-around;
            p{
                padding-right: unset;
            }
        }
    }    
}

@media only screen and (max-width: 720px) {
        
    html, body{
        #main-index .main-list .main-numbers{
            left: -20px;
        }
    }    
}

.menu-card {

    &__wrapper {

        display: flex;
        background-color: #fff;
        height: 5rem;
        margin: 1rem 0;
        border-radius: 0.75rem;
        box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%); 
        overflow: hidden;
        cursor: pointer;
        max-width: 100%;
        
        &__text-content {
            flex: 1;
            padding: 1rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            h4, p {
                margin: 0;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            h4 {
                font-size: larger;
                font-weight: 600;
                font-family: "Roboto", sans-serif;
            }

            p {
                padding-top: 10px;
            }
        }

        &__price {
            display: flex;
            align-items: flex-end;
            font-weight: 700;
            padding: 1rem;
            padding-top: 10px;
            font-family: "Roboto",sans-serif;
        }

        &__checkbox-div {
            margin: -0.6rem -5rem 0 1rem;
            background-color: #99e2d0;
            width: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            transition-duration: .5s;

            &__icon-wrapper {
                border-radius: 100px;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 1.6rem;
                width: 1.6rem;
                transform: rotate(180deg);
                transition-duration: .5s;

                &__icon {
                    color: #99e2d0;
                    font-weight: 900;
                }
            }
        }

        &:hover .menu-card__wrapper__checkbox-div {
            margin-right: 0rem;
        }

        &:hover .menu-card__wrapper__checkbox-div__icon-wrapper {
            transform: rotate(0);
        }
    }
}




